*, *::after, *::before{
	font-size: 16px;
	margin: none;
	padding: none;
	outline: none;
	border: none;
}

#main{
	margin: 25px;
	padding-top: 25px;
	background-color: lightgray;
}

header{
	margin: auto;
	display: block;
	width: auto;
}

#title{
	text-align: center;
	font-size: 3em;
}

#subtitle{
	text-align: center;
	font-size: 1em;
	font-weight: 400;
}

#img-div{
	background-color: white;
	padding: 25px;
}

#image{
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 40%;
}

#img-caption{
	text-align: center;
	margin-top: 10px;
}

#tribute-info{
	width: auto;
	display: block;
	margin: auto;
	padding: 1.25em;
}

#tribute-info > h2{
	text-align: center;
	font-size: 1.25em;
	margin: auto;
	margin-bottom: 2em;
	width: 35%;
}

#tribute-info > ul{
	margin: auto;
	width: 35%;
}

#tribute-info > ul > li{
	margin: 15px;
	line-height: 1.5em;
}

#quote{
	margin: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	width: 35%;
	font-style: italic;
}

#tribute-sub{
	text-align: center;
	font-size: 1.25em;
	font-weight: 600;
}